@media screen and (min-width:1158px) {
    .section-two .li-two{
        width: calc((100% - 72px) / 4);
    }
    .section-two .third-header{
    width: calc((100% - 72px) / 4); 
    }
    .section-three li{
        width: calc((100% - 72px) / 4); 
    }
    .portfolio-list .li-portfolio{
        width: calc((100% - 48px) / 3) ; 
    }
    .mobil-nav{
        display: none;
    }
    .headerc-one{
        max-width: 1158px;
        margin: 0 auto;  
    }
    .section-one{
        max-width: 1158px;    
        margin: 0 auto;    
    }
    .section-two{
        max-width: 1158px;
        margin: 0 auto;  
    }
    .section-three{
        max-width: 1158px;
        margin: 0 auto;  
    }
    .section-four{
        max-width: 1158px;
        margin: 0 auto;  
    }



}