@media screen and (min-width:1158px) {
    .section-two .li-two{
        width: calc((100% - 72px) / 4);
    }
    .section-two .third-header{
    width: calc((100% - 72px) / 4); 
    }
    .section-three li{
        width: calc((100% - 72px) / 4); 
    }
    .portfolio-list .li-portfolio{
        width: calc((100% - 48px) / 3) ; 
    }
    .mobil-nav{
        display: none;
    }
    .headerc-one{
        width: 1158px;
    }
    .section-one{
        margin: 0;
        width: 1158px;        
    }
    .section-two{
        width: 1158px;
    }
    .section-three{
        width: 1158px;
    }
    .section-four{
        width: 1158px;
    }
    .footer-m{
        width: 1158px;

    }

}