@media screen and (min-width:768px) and (max-width:1158px) {
    .section-two .li-two{
        width: calc((100% - 72px) / 4);
    }
    .section-two .third-header{
    width: calc((100% - 72px) / 4); 
    }
    .section-three li{
        width: calc((100% - 72px) / 4); 
    }
    .portfolio-list .li-portfolio{
        width: calc((100% - 48px) / 3) ; 
    }

}