@media screen and (max-width:768px) {
    .section-one{
        width:100%;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .section-one .container{
        width:100%;
        background-color: blue;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        gap:20px;

    }
    #first-header{
        font-size: 24px;
    }
    .o-but{
        margin:0 auto;
    }
    .section-two{
        width:100%;
        display: flex;
    }
    .listt-two{
        min-width: 100px;
        display: flex;
        flex-wrap: wrap;    
        align-content: stretch;  
    }
    .stwo-pic{
        visibility: hidden;
    }
    .li-two>.third-header{
        font-size: 20px;
    }
    .li-two>.p-class{
        font-size:16px;
    }
}
