@media screen and (min-width: 320px) and (max-width:768px) {
    .section-one{
        width:100%;
        padding-top: 200px;
        padding-bottom: 200px;
    }
    .section-one .container{
        width:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;

    }
    #first-header{
        font-size: 24px;
        max-width: 40%;
    }
    .o-but{
        margin:0 auto;
        min-height: 40px;

    }
    .section-two{
        width:100%;
        display: flex;
        flex-wrap: wrap;  
        max-width:100vw; 
    }
    .section-two ul{
        align-items: center;
        justify-content: center;
        padding: 96px 108px;
    }
    .listt-two{
        width:100%;
        display: flex;
        flex-wrap: wrap;  
        max-width:100vw; 
    }
    .li-two{
        min-width: 100px;
        flex:1 0 100px;
        align-content: stretch;  
    }
    .stwo-pic{
        visibility: hidden;
    }
    .li-two>.third-header{
        font-size: 20px;
    }
    .li-two>.p-class{
        font-size:16px;
    }
    .section-three .container{
        display: flex;
        flex-wrap: wrap;
        align-items: center;

    }
    .du-header{
        font-size:16px;
        background-color: yellow;
    }

    .our-team-list {
        display: flex;
        flex-wrap: wrap;
        gap:30px;
        max-width:100vw;
        min-width: 100vw;
    }
    .ot-list{
        flex:1 1 150px; 
        max-width: 250px;
    }
    .our-team-list .social{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }
    .ot-list img{
        width: 100%;
        height: 50%;
    }
    .portfolio-list{
        display: flex;
        flex-wrap: wrap;
        gap:100px;
        justify-content: space-between;
        max-width:100vw;
    }
    .portfolio-list li{
        margin-inline: auto;
        flex: 1 1 150px;
        display: block;
    }
    .portfolio-list img{
        width: 100%;
        flex:1;
    }
    .our-port{
        margin: 0 aut0;
    }
    .section-four .container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .footer-m{
        max-width: 100%;
    }
    .footer-m .container{
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        justify-content: flex-start;
        gap: 30px ;
    }
    .footer-m .container div{
        flex: 1 1 100px;
    }
}
